thead > tr > th {
  background-color: #001529 !important;
  color: #f5f5f5 !important;
}

tbody > tr > td {
  background-color: #509f9f !important;
  color: #f5f5f5 !important;
}

.ant-result-title {
  color: #f5f5f5 !important;
}
